body{
  color: #666666;
  background-color: #f9f8f6;
  background-image: url("dark-wood.jpg");
  background-position: center;
  font-family: Georgia, Times, serif;
  line-height: 1.4em;
  margin: 0px;
}

.wrapper {
  width: 940px;
  margin: 20px auto 20px auto;
  border: 2px solids #000000;
  background-color: #ffffff;
}

header {
  height: 160px;
  background-image: url("header.jpg");
}

header h1 {
  width: 940px;
  height: 130px;
  margin: 0px;
}

nav, footer {
  clear: both;
  color: #ffffff;
  background-color: #aeaca8;
  height: 30px;
}

nav ul {
  margin: 0px;
  padding: 5px 0px 5px 30px;
}
nav li {
  display: inline;
  margin-right: 40px;
}

nav li a {
  color: #ffffff;
}
nav li a:hover{
  color: #985d6a;
  background-color: #efefef;
}

section.courses {
  float: left;
  width: 659px;
  border-right: 1px solid #eeeeee;
}

.img {
  overflow: auto;
  width: 100%;
}

.hg {
  position: absolute;
  left:37%;
  width:26%;
}
figure {
  float: left;
  width: 290px;
  height: 220px;
  padding: 5px;
  margin: 20px;
  border: 1px solid #eeeeee;
}
aside {
  width: 230px;
  float: left;
  padding: 43px 0px 0px 20px;
}

aside section a {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #eeeeee;
}

aside section a:hover {
  color: #985d6a;
  background-color: #efefef;
}
.pp{
	font-family: Times New Roman;
	font-size: 17px;
	position: absolute;
	width: 26%;
	left:38%;
	top:51%;
}
.p{
	font-family: Times New Roman;
	font-size: 17px;
	position: absolute;
	width: 26%;
  left:38%;
	top:91%;
}
a {
  color: #de6581;
  text-decoration: none;
}
footer {
  font-size: 80%;
  padding: 7px 0px 0px 20px;
}
