.logo{
  position: absolute;
  top: 2em;
  width: 9em;
  left: 5em;
  height: 3em;
}
.heading
{
  font-size: 36px;
    font-weight: 800;
    color: #F05136;
    line-height: 50px;
    position: absolute;
    top: 40%;
}
p.info{
  top:60%;
    position: absolute;
    font-size: 1.7rem;
color: #000000;
line-height: 21px;
}
.container1{
  position: absolute;
  left:2em;
  width: 80em;
  height: auto;
}
.section3
{

height:100%;
width:100%;
 background-image: url("Code_background.jpg");

}
.section3-right
{
  position: absolute;
  top: 0em;
  width: 56em;
  left: -6em;
  height: 27em;
}
.cont{
  position: absolute;
  left:23em;
top: 3em;
  width: 30em;
  height: auto;
background: white;
}
.projects
{
  margin-top: 2em;
  width: 100%;

    border: 1px solid #ccc;
    text-align: center-left;
    background: #FAFAFA;


}
.projects a{
  color:red;
}
p{
  font-size:1.4rem;
}
.announcements
{
  height:100%;
    margin-top: 2em;
        text-align: center-left;
            padding: 1em 0em 2em 1em;
      border: 1px;
      border: 1px solid #ccc;
      overflow: auto;
    background: #FAFAFA;
}
.proimg
{
  float: left;
  width:40%;
}
.contents{

padding: 2em;
}
.section4{
  position: absolute;
  top: 95em;
  width: 55em;
  height: 23em;
}
 .imgg{
    position: absolute;
    left: 1em;
    top: 42em;
    width: 23em;

}
.mob_br{
   position: absolute;
    left: 1em;
    top: 42em;
    width: 7em;
}
.mb{
   position: absolute;
    left: 1em;
    top: 42em;
    width: 7em;

}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
footer a{
  color:black;
}
footer .mbb{
   position: absolute;
    left: 6em;
    top: 58em;
    width: 10em;

}
dd ,dt{
  margin-left: 22px;
}